:root {
  --main-font: Arial, Helvetica, sans-serif;
  --main-color: black;
  --font-color:#f70776;
  --primary:#11998e;
  --seconodary:#38ef7d;
}

.Header{
    font-weight: bold;
    background-color: var(--main-color);
    color: var(--font-color);
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

.ButtonCreate{
    font-weight: bold;
    background-color: var(--main-color);
    color: var(--font-color);
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    width: 30%;
}

.FormAffair{
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 76vh; /* Ajuster la hauteur selon vos besoins */
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-color);
    background-color: var(--main-color);
}

.body{
  overflow-y: auto;
}

.Affair{
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 76vh; /* Ajuster la hauteur selon vos besoins */
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-color);
    background-color: var(--main-color);
    overflow-y: auto;
}

.TextAffair{
    padding: 15px;
    padding-left: 20%;
    padding-right: 20%;
    margin:15px;
    overflow-y: auto;
}

.ButtonFooter{
    width: 100vh;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.container{
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  height: 76vh; /* Ajuster la hauteur selon vos besoins */
}

.Home{
    width: 100%;
    height: 100%; 
    background-color: var(--main-color);
}


/* CSS */
.button-27 {
  appearance: none;
  background-color: var(--main-color);
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: var(--font-color);
  cursor: pointer;
  display: inline-block;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 30%;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}
/* Définition des couleurs */
:root {
  --primary-color: #f70776;
  --secondary-color: #fff;
  --white-color: #fff;
  --gray-color: #9b9b9b;
}

/* Styles pour le champ de formulaire */
.form__field {
  font-family: inherit;
  width: 20%;
  border: 0;
  border-bottom: 2px solid var(--gray-color);
  outline: 0;
  font-size: 1.3rem;
  color: var(--font-color);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  margin-bottom: 25px;
  resize: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  border-image-slice: 1;
}

/* Réinitialisation du style par défaut des champs de formulaire */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}
.ModeSelector{
  background-color: var(--main-color);
  margin: 15px;
}

.selectedButton {
  background-color: var(--primary-color); /* Couleur de fond lorsque le bouton est sélectionné */
  color: white; /* Couleur du texte lorsque le bouton est sélectionné */
  /* Autres styles personnalisés pour le bouton sélectionné */
}
.noselectedButton {
  background-color: var(--main-color); /* Couleur de fond lorsque le bouton est sélectionné */
  color: white; /* Couleur du texte lorsque le bouton est sélectionné */
  /* Autres styles personnalisés pour le bouton sélectionné */
}